
URS/.vs/URS/FileContentIndex/0378c5b8-b301-4c0e-b2fc-8f84db81bd68.vsidx
URS/.vs/URS/v17/Browse.VC.db
URS/.vs/URS/v17/Browse.VC.db-shm
URS/.vs/URS/v17/Browse.VC.db-wal
URS/.vs/URS/v17/Browse.VC.opendb
